<html>
    <head>
        <title>Carmel Quiz</title>
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link href="index.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main-box">
            <div class="question-no">Your Score is</div>    
            <center>
                <div class="question-box">
                    <h1>
                        <%= mark %> 
                    </h1>
                </div>
                <div class="options-box">                   
                    Congrats
                </div>   
            </center>           
        </div>
    </body>
</html>